@import './vars';

.header {
    min-height: 50px;
    background: $color-header-bg;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 0;
    position: relative;

    &-controls--left,
    &-controls--right {
        display: flex;
    }

    &-control {
        $size: 50px;

        width: $size;
        height: $size;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 36px;
    }

    #p-meta {
        transition: color 500ms ease-in;
        padding: 5px;
        text-align: center;
        display: flex;

        #p-time {
            font-size: 14px;
            line-height: 26px;
        }

        #p-amount {
            font-size: 9px;
            line-height: 12px;
        }
    }

    &[data-loading="true"] #p-meta {
        color: $color-header-fg__loading;

        &::before {
            $size: 40px;

            content: "";
            display: inline-block;
            line-height: $size;
            width: $size;
            height: $size;
            background: $image-loading no-repeat center center;
            vertical-align: middle;
        }
    }

    &-control#p-control {
        background-image: $image-play;

        @at-root [data-playing="false"] & {
            background-image: $image-pause;
        }
    }

    &-control#p-mute {
        background-image: $image-mute;

        @at-root [data-mute="true"] & {
            background-image: $image-unmute;
        }
    }
}
