@import './vars';

.player {
    background: $color-player-bg;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &-cover {
        $size: 60px;

        display: block;
        width: $size;
        height: $size;
        background: $image-playlist center center no-repeat;
        cursor: pointer;
    }

    &-info {
        padding: 9px 10px;
        flex: 1 1 auto;
    }

    &-title {
        line-height: 22px;
        font-weight: 900;
        font-size: 15px;
    }

    &-artist {
        line-height: 20px;
        font-size: 12px;
    }
}
