.Button_theme_normal {
    background: var(--color-button-background);
    color: var(--color-button-foreground);

    display: inline-block;
    border: none;

    line-height: 1rem;
    padding: .4rem .5rem;

    transition: background .07s linear;

    &:hover {
        background: var(--color-button-background__hover);
    }

    &:active {
        background: var(--color-button-background__active);
    }

    &:disabled {
        background: var(--color-button-background__disabled);
    }
}
