html,body{padding:0;margin:0;font:13px Arial,Helvetica,Garuda,sans-serif;*font-size:small;}h1,h2,h3,h4,h5,h6,ul,li,em,strong,pre,code{padding:0;margin:0;line-height:1em;font-size:100%;font-weight:normal;font-style:normal}table{font-size:inherit}ul{list-style:none}img{border:0}p{margin:0}*{box-sizing:border-box}a{text-decoration:none;}a:focus,a:active{outline:none}input,textarea,button,select{border:none;font:inherit}textarea{resize:none;display:block}input:focus,textarea:focus,[contenteditable]:focus,select:focus{outline:none}label{display:block}select,input[type="button"],input[type="submit"]{background:transparent}table{border-spacing:0}strong{font-weight:bolder}


$color-root-bg: #000000;
$color-window-bg: #212121;
$color-window-fg: #ffffff;
$color-header-bg: #303030;

html, body {
	height: 100%;
	overflow: hidden;
}

body {
	display: flex;
	background: $color-root-bg;
	flex-direction: column;
}

.wrap {
	width: 550px;
	height: 450px;
	background: $color-window-bg;
	color: $color-window-fg;
	display: flex;
	flex-direction: column;
	margin: auto;
	justify-content: space-between;
	-webkit-box-shadow: 0 0 5px 1px rgba(32, 32, 32, .2);
	box-shadow: 0 0 5px 1px rgba(32, 32, 32, .2);
}

.header {
	min-height: 50px;
	background: $color-header-bg;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	line-height: 0;
	position: relative;
}

.controls-left,
.controls-right {
	display: flex;
}

#p-meta {
	transition: color 500ms ease-in;
	padding: 5px;
	text-align: center;
	display: flex;
}

#p-time {
	font-size: 14px;
	line-height: 26px;
}

#p-amount {
	font-size: 9px;
	line-height: 12px;
}

.p-loading {
	color: rgba(255, 255, 255, .5);
}

.p-loading::before {
	content: ""; /*"loading... ";*/
	display: inline-block;
	line-height: 42px;
	width: 42px;
	height: 42px;
	background: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 50 50' style='enable-background:new 0 0 50 50;' xml:space='preserve'%3E%3Cpath  fill='%23FFFFFF' d='M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z'%3E%3CanimateTransform attributeType='xml' attributeName='transform' type='rotate' from='0 25 25' to='360 25 25' dur='0.6s' repeatCount='indefinite'%3E%3C/animateTransform%3E%3C/path%3E%3C/svg%3E") no-repeat center center;
	vertical-align: middle;
}




.content {
	flex: 1 1 auto;
	overflow: auto;
	overflow-x: hidden;
	position: relative;

	&__page {
		position: absolute;
		top: 0;
		left: 0;
		overflow: auto;
		width: 100%;
		height: 100%;
		background: $color-window-bg;

		animation: content-page__open .2s ease-in 1;

		@keyframes content-page__open {
			0% { opacity: 0; transform: scale(.6) }
			100% { opacity: 1; transform: scale(1) }
		}

		&__close {
			animation: content-page__close .2s ease-in 1;

			@keyframes content-page__close {
				0% { opacity: 1; transform: scale(1) }
				100% { opacity: 0; transform: scale(.6) }
			}
		}
	}
}

.settings {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	background: #FFFFFF;
	color: #000000;
	overflow: hidden;
	border-radius: 100%;
	line-height: 34px;
	transition: border-radius 200ms ease-in, width 150ms ease-in, height 150ms ease-in, transform 150ms ease-in;
	transform: translateX(50%);
	box-shadow: 0 0 5px 1px rgba(32, 32, 32, .2);
}

.settings-item {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	line-height: 36px;
	padding: 0 12px;
}

.settings-value input[type="checkbox"] {
	vertical-align: middle;
}

.settings-opened {
	border-radius: 2px;
	width: 100%;
	height: 100%;
	transform: translateX(0);
}

/*.wrap-content {
	height: 100%;


}*/

.listItem {
	transition: background-color cubic-bezier(.4,0,.2,1) .28s, padding-left ease-in .25s, background-position ease-in .25s;
	line-height: 34px;
	border-bottom: 1px solid rgba(0, 0, 0, .08);
	display: flex;
	justify-content: space-between;
	padding: 0 12px;
	cursor: pointer;
}

.listItem:hover {
	background-color: #424242;
}

.listItem__active,
.station__active,
.stream__active {
	background: #535353;
	/*color: background: rgb(63, 81, 181);*/
}

.list .listItem {
	background-position: -12px center;
	background-repeat: no-repeat;
}

.list .listItem-active {
	padding-left: 38px;
	background-image: url("data:image/svg+xml,%3Csvg fill='%23000000' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.24 6.15C2.51 6.43 2 7.17 2 8v12c0 1.1.89 2 2 2h16c1.11 0 2-.9 2-2V8c0-1.11-.89-2-2-2H8.3l8.26-3.34L15.88 1 3.24 6.15zM7 20c-1.66 0-3-1.34-3-3s1.34-3 3-3 3 1.34 3 3-1.34 3-3 3zm13-8h-2v-2h-2v2H4V8h16v4z'/%3E%3C/svg%3E");
	background-position: 12px center;
	background-size: 16px;
}

.icon {
	display: block;
	width: 50px;
	height: 50px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 36px;
}

.icon-play-0 {
	background-image: url("data:image/svg+xml,%3Csvg fill='%23FFFFFF' height='36' viewBox='0 0 24 24' width='36' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 5v14l11-7z'/%3E%3C/svg%3E");
}

.icon-play-1 {
	background-image: url("data:image/svg+xml,%3Csvg fill='%23FFFFFF' height='36' viewBox='0 0 24 24' width='36' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 19h4V5H6v14zm8-14v14h4V5h-4z'/%3E%3C/svg%3E");
}

.icon-mute-0 {
	background-image: url("data:image/svg+xml,%3Csvg fill='%23FFFFFF' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 9v6h4l5 5V4L7 9H3zm13.5 3c0-1.77-1.02-3.29-2.5-4.03v8.05c1.48-.73 2.5-2.25 2.5-4.02zM14 3.23v2.06c2.89.86 5 3.54 5 6.71s-2.11 5.85-5 6.71v2.06c4.01-.91 7-4.49 7-8.77s-2.99-7.86-7-8.77z'/%3E%3C/svg%3E");
}

.icon-mute-1 {
	background-image: url("data:image/svg+xml,%3Csvg fill='%23FFFFFF' height='36' viewBox='0 0 24 24' width='36' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.5 12c0-1.77-1.02-3.29-2.5-4.03v2.21l2.45 2.45c.03-.2.05-.41.05-.63zm2.5 0c0 .94-.2 1.82-.54 2.64l1.51 1.51C20.63 14.91 21 13.5 21 12c0-4.28-2.99-7.86-7-8.77v2.06c2.89.86 5 3.54 5 6.71zM4.27 3L3 4.27 7.73 9H3v6h4l5 5v-6.73l4.25 4.25c-.67.52-1.42.93-2.25 1.18v2.06c1.38-.31 2.63-.95 3.69-1.81L19.73 21 21 19.73l-9-9L4.27 3zM12 4L9.91 6.09 12 8.18V4z'/%3E%3C/svg%3E");
}

.icon-search {
	background-image: url("data:image/svg+xml,%3Csvg fill='%23FFFFFF' height='36' viewBox='0 0 24 24' width='36' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3C/svg%3E");
}

.icon-settings {
	background-image: url("data:image/svg+xml,%3Csvg fill='%23FFFFFF' height='36' viewBox='0 0 24 24' width='36' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.43 12.98c.04-.32.07-.64.07-.98s-.03-.66-.07-.98l2.11-1.65c.19-.15.24-.42.12-.64l-2-3.46c-.12-.22-.39-.3-.61-.22l-2.49 1c-.52-.4-1.08-.73-1.69-.98l-.38-2.65C14.46 2.18 14.25 2 14 2h-4c-.25 0-.46.18-.49.42l-.38 2.65c-.61.25-1.17.59-1.69.98l-2.49-1c-.23-.09-.49 0-.61.22l-2 3.46c-.13.22-.07.49.12.64l2.11 1.65c-.04.32-.07.65-.07.98s.03.66.07.98l-2.11 1.65c-.19.15-.24.42-.12.64l2 3.46c.12.22.39.3.61.22l2.49-1c.52.4 1.08.73 1.69.98l.38 2.65c.03.24.24.42.49.42h4c.25 0 .46-.18.49-.42l.38-2.65c.61-.25 1.17-.59 1.69-.98l2.49 1c.23.09.49 0 .61-.22l2-3.46c.12-.22.07-.49-.12-.64l-2.11-1.65zM12 15.5c-1.93 0-3.5-1.57-3.5-3.5s1.57-3.5 3.5-3.5 3.5 1.57 3.5 3.5-1.57 3.5-3.5 3.5z'/%3E%3C/svg%3E");
}

.icon-search-unavailable {
	display: none;
}

.player {
	min-height: 60px;
	background: #383838;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.player-cover {
	display: block;
	width: 60px;
	height: 60px;
	background: url("data:image/svg+xml,%3Csvg fill='%23FFFFFF' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 6H3v2h12V6zm0 4H3v2h12v-2zM3 16h8v-2H3v2zM17 6v8.18c-.31-.11-.65-.18-1-.18-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3V8h3V6h-5z'/%3E%3C/svg%3E") center center no-repeat;
	cursor: pointer;
}

.player-info {
	padding: 9px 10px;
	flex: 1 1 auto;
}

.player-title {
	line-height: 22px;
	font-weight: 900;
	font-size: 15px;
}

.player-artist {
	line-height: 20px;
	font-size: 12px;
}

#p-bitrate {
	width: 50px;
	font-size: 16px;
	position: relative;
	text-align: center;
	cursor: pointer;
	line-height: 25px;
	padding: 10px 0;
}

#p-bitrate-value::after {
	display: block;
	content: "kbps";
	font-size: 9px;
	line-height: 10px;
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 10px;
}

#p-bitrate-list {
	position: absolute;
	bottom: 100%;
	right: 0;
	width: 0;
	height: 0;
	background: #FFFFFF;
	color: #000000;
	overflow: hidden;
	border-radius: 100%;
	line-height: 34px;
	transition: border-radius 200ms ease-in, width 150ms ease-in, height 150ms ease-in, transform 150ms ease-in;
	transform: translateX(-50%);
	box-shadow: 0 0 5px 1px rgba(32, 32, 32, .2);
}

#p-bitrate-list.p-bitrate-list-opened {
	border-radius: 2px;
	width: 100px;
	transform: translateX(0);
	text-align: right;
}

.version,
.footer {
	text-align: center;
	padding: 0 0 12px;
	color: #C0C0C0;
	font-size: 11px;
}

.footer a {
	color: inherit;
	text-decoration: underline;
}

.contextMenu-wrap {
	position: absolute;
	background: #ffffff;
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, .4);
	border-radius: 3px;
}

.contextMenu-item {
	line-height: 26px;
	padding: 0 12px;
	cursor: pointer;
}

.contextMenu-item:hover {
	background: rgba(0, 0, 0, .1);
}


@media screen and (max-width: 540px) {
	.wrap {
		width: 100%;
		height: 100%;
	}

	.footer {
		display: none;
	}

	.settings::after {
		display: block;
		text-align: center;
		padding: 0 0 12px;
		color: #C0C0C0;
		font-size: 11px;
		content: "Vladislav Veluga © 2013-2020";
	}
}

